
 .linia{
    border-bottom: 2px gray solid; 
    width: 70%;  
 }


 .linia-2{
  border-bottom: 2px gray solid; 
  width: 100%;  
}


 .name{
   margin-bottom: 50px;
 }

 .imagen{
  max-width: 18%;
  height: auto;
  border-radius: 100%;
  border: 5px solid gray;
  float:left;
  margin-left: 100px;
 }

 
 